{% extends "layout.html" %}
{% set bodyId = "page-create-point" %}

{% block title %}
    <title>Criar um ponto de coleta </title>
{% endblock title %}

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
 
<{% block styles %}
   <link rel="stylesheet" href="/styles/create-point.css">
   
{% endblock styles %}

{% block content %}

                
        {% include "partials/page-header.html" %}

                <form action="">

                    <h1>Cadastro do ponto de coleta</h1>

                <fieldset>
                    <legend>
                        <h2>Dados da entidade</h2>
                    </legend>

                </fieldset>

                <div class="field-group">
                    <div class="field">
                    <label for="name">Nome da entidade</label>
                    <input type="text" name="name" required>
            
                    </div> 
                    <div class="field">
                    <label for="name">Imagem da entidade</label>
                    <input
                     type="url" 
                     name="imagem" 
                     placeholder="http://"
                     required="required">
            
                    </div>
                </div>

                <div class="field">
                    <label for="name">Nome da entidade</label>
                    <input type="text" name="name" required>
            
                </div>
                    <div class="field-group">
                    <div class="field">
                        <label for="address">Endereço</label>
                        <input type="text" name="address" required>
                    </div>
                    <div class="field">
                        <label for="address2">Número/Complemento</label>
                        <input type="text" name=address2>
                    </div>
                </div>
                    <div class="field-group">                 
                        <div class="field">
                            <label for="state">Estado</label>
                            <select name="uf" required>
                                <option value="">Selecione o Estado</option> 
                            </select>      
                            
                            <input type="hidden" name="state ">
                        </div>
                        
                        <div class="field">
                            <label for="city">Cidade</label>
                            <select name="city" disabled required>
                                <option value="">Selecione a Cidade</option> 
                            </select>                           
                        </div>
                        
                    </div>
                
                    <fieldset>
                        <legend>
                            <h2>Itens de coleta</h2>
                        <span>Selecione um ou mais itens abaixo</span>
                        </legend>
                <div class="items-grid">
                    <li data-id="1" class="selected">
                        <img src="/extras-aula-1/icones/lampadas.svg" alt="Lâmpadas"><span>Lâmpadas</span>
                    </li>

                    <li data-id="2">
                        <img src="/extras-aula-1/icones/baterias.svg" alt="Pilhas e Baterias"><span>Pilhas e Baterias</span>
                    </li>

                    <li data-id="3">
                        <img src="/extras-aula-1/icones/papeis-papelao.svg" alt="Papéis e Papelão"><span>Papéis e Papelão</span>
                    </li>

                    <li data-id="4">
                        <img src="/extras-aula-1/icones/eletronicos.svg" alt="Resídous Eletrônicos"><span>Resídous Eletrônicos</span>
                    </li>

                    <li data-id="5">
                        <img src="/extras-aula-1/icones/organicos.svg" alt="Resíduos Orgânicos"><span>Resíduos Orgânicos</span>
                    </li>

                    <li data-id="6">
                        <img src="/extras-aula-1/icones/oleo.svg" alt="Óleo de Cozinha"><span>Óleo de Cozinha</span>
                    </li>


                </div>

                <input type="hidden" name="items">
                    </fieldset>

                <button type="submit">Cadastrar ponto de coleta</button>
                </form>

            

    </div>

{% endblock content %}


{% block scripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock scripts %}