
:root{
    --title-color: #322153;
    --primary-color: #34cb79;
}
html {
    font-family: 'Roboto', sans-serif;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}





    